@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <div class="container123">

        <h1>AyTee</h1>

    </div>

    <img id="fade-in-image" src="/Resource/banner.jpg" alt="" class="img-rounded img-responsive" width="1500" height="250" />

</div>











<style>
    #fade-in-image {
        transition: 1.5s;
        opacity: 0.7;
        width: 100%;
        right: 0;
        left: 0;
    }

        #fade-in-image:hover {
            transition: 1s;
            opacity: 1;
        }


    .jumbotron {
        transition: 1s;
    }

        .jumbotron h1 {
            transition: 1s;
        }

        .jumbotron:hover {
            transition: 1s;
        }

            .jumbotron:hover h1 {
                padding-top: 100px;
                font-size: 150px;
                transition: 1s;
            }

            .jumbotron:hover p {
                visibility: hidden;
                transition: 1.5s;
            }

            .jumbotron:hover #fade-in-image {
                transition: 1s;
                opacity: 1;
                padding: 100px;
            }

    .container123 {
        font: 20px Montserrat;
    }


    body {
        background-image: linear-gradient(#CEE4F5, #2C3C6B);
    }
</style>